{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_methodology">
    <div class="container">

    </head>

  
      <div class="header_methodology">
        <div class="box"> 
          <h1 style="font-size:55px;"><span class="text-logo">Methodology</span></h1>
          <p style="text-align:left;">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
          </p>
          <br>
          <h1>Calculations</h1>
          <br>
    
          <div class="container"> 
            <div class="box">
                <h4>Fuel</h4>
                <p class="text-left">
            
                Formula for fuel emissions:
                \[ x^2 + y^2 = z^2 \]
                </p> 
            </div> 
            <div class="box">
              <h4>Calculating</h4>
              <p class="text-left">
                 Calculator
                  \[x^2 + y^2 = z^2\]               
              </p> 
          </div>              
          </div>
        
          <div class="container"> 
            <div class="box">
              <h4>Sums</h4>
              <p class="text-left">
                Summing the emissions
                Sum \[sum_{n=1}^{\infty} 2^{-n} = 1 \]  
              </p>
            </div> 
            <br>
            <br>
            <div class="box">
              <h4>Limits</h4>
              <p class="text-left">
                \[ \lim_{x\to\infty} f(x) \]
              </p> 
              <br>
              <br>

          </div>              
          </div>
        
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='icons/calculator.svg')}}"
            width="925" 
            height="925"
            alt=""/>
        </div>
      </div>
  
    </div>
  

{% endblock content %}